<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlin">
    <queries>
        <package android:name="com.neworange.trackescaped" />
    </queries>


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"-->
<!--        tools:ignore="QueryAllPackagesPermission" />-->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:maxAspectRatio="2.4"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IncludeActivity" />
        <activity android:name=".activity.FragmentDemoActivity" />
        <activity
            android:name=".activity.KeyboardActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.GridActivity" />
        <activity android:name=".activity.CustomViewpagerActivity" />
        <activity android:name=".activity.ReadAssetsActivity" />
        <activity android:name=".activity.CommentTestActivity" />
        <activity android:name=".activity.BottomDialogActivity" />
        <activity android:name=".activity.ImeiActivity" />
        <activity android:name=".activity.AlgorithmListActivity" />
        <activity android:name=".activity.AlgorithmDetailActivity" />
        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.GetPhoneNumActivity" />
        <activity android:name=".activity.HomeTabActivity" />
        <activity android:name=".activity.TopBarActivity" />
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".activity.AddViewActivity" />
        <activity android:name=".activity.QAListActivity" />
        <activity android:name=".activity.QADetailActivity" />
        <activity android:name=".activity.RoundImageActivity" />
        <activity android:name=".activity.GlideShowImageActivity" />
        <activity android:name=".activity.ScheduleTaskActivity" />
        <activity android:name=".activity.JDSearchActivity" />
        <activity android:name=".activity.SpecialQAListActivity" />
        <activity android:name=".activity.RxJavaLeanActivity" />
        <activity android:name=".activity.TouchEventActivity" />
        <activity android:name=".activity.PickViewActivity" />
        <activity android:name=".activity.QListActivity" />
        <activity android:name=".activity.ExpandableListActivity" />
        <activity android:name=".activity.MainListActivity" />
        <activity android:name=".activity.CommonActivity" />

        <activity
            android:name=".activity.LoadMoreActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QAHorizontalDetailActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>